# Server
PORT=8081

# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=eventpass_auth
DB_USER=postgres
DB_PASSWORD=postgrespassword

# Seguridad / JWT
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250655368566D5971
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Perfil Activo
SPRING_PROFILES_ACTIVE=dev