SPRING_PROFILES_ACTIVE=SPRING_PROFILES_ACTIVE

AWS_REGION=AWS_REGION
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY

POSTGRES_AUTH_DB=POSTGRES_AUTH_DB
POSTGRES_AUTH_USER=POSTGRES_AUTH_USER
POSTGRES_AUTH_PASSWORD=POSTGRES_AUTH_PASSWORD
POSTGRES_AUTH_PORT=POSTGRES_AUTH_PORT

POSTGRES_EVENTS_DB=POSTGRES_EVENTS_DB
POSTGRES_EVENTS_USER=POSTGRES_EVENTS_USER
POSTGRES_EVENTS_PASSWORD=POSTGRES_EVENTS_PASSWORD
POSTGRES_EVENTS_PORT=POSTGRES_EVENTS_PORT

POSTGRES_ORDERS_DB=POSTGRES_ORDERS_DB
POSTGRES_ORDERS_USER=POSTGRES_ORDERS_USER
POSTGRES_ORDERS_PASSWORD=POSTGRES_ORDERS_PASSWORD
POSTGRES_ORDERS_PORT=POSTGRES_ORDERS_PORT

REDIS_PORT=REDIS_PORT
LOCALSTACK_PORT=LOCALSTACK_PORT

JWT_SERVICE_EXPIRATION=JWT_SERVICE_EXPIRATION

MS_ORDERS_CLIENT_ID=MS_ORDERS_CLIENT_ID
MS_ORDERS_CLIENT_SECRET=MS_ORDERS_CLIENT_SECRET

AUTH_SERVICE_URL=AUTH_SERVICE_URL
EVENTS_SERVICE_URL=EVENTS_SERVICE_URL